.footer {
    margin-top: 140px;
    margin-bottom: 40px;
    max-width: 100%;
  
    &__left {
      background-color: $bg-orange;
      width: 300px;
      padding: 70px 111px 70px 198px;
    }
  
   
  
    &__img {
      padding-top: 15px;
      padding-right: 20px;
    }
  
    &__title {
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-weight: 700;
      color: $text-black;
      padding-bottom: 50px;
    }
  
    &__bold {
      font-size: 16px;
      font-weight: 500;
      color: $text-black;
    }
  
    &__light {
      font-size: 16px;
      font-weight: 400;
      color: $text-black;
      padding-bottom: 35px;
      padding-top: 15px;
      line-height: 19px;
    }
  
    &__cont {
      display: flex;
      margin-bottom: 10px;
    }
  
    #map {
      width: 415px;
    }
  
    &__line {
      margin: 15px 0;
    }
  
    &__bottom {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      color: $text-grey;
    }
  
    &__txt {
      font-size: 12px;
      font-weight: 400;
    }
  
    &__confidencial {
      text-decoration: none;
      color: $text-grey;
      font-size: 12px;
      font-weight: 400;
    }
  }
  
  .footer {
    @media screen and (max-width: 320px) {
      &__cont {
        display: block;
        margin-bottom: 10px;
      }
  
      &__left {
        background-color: $bg-orange;
        max-width: 100%;
        padding: 15px 40px;
      }
  
      #map {
        width: 320px;
        height: 300px;
      }
  
      &__line {
        margin: 15px 0;
      }
  
      &__bottom {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        color: $text-grey;
      }
  
      &__txt {
        font-size: 12px;
        font-weight: 400;
      }
  
      &__confidencial {
        text-decoration: none;
        color: $text-grey;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }