.header {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 60px;
}

.nav {
  display: flex; /* Показать навигацию по умолчанию */
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__ul {
  display: flex; /* Показать навигацию по умолчанию */
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__li {
  margin-left: 20px;
}

.nav__item {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none; /* Скрыть бургер по умолчанию */
}

.burger__span {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Стиль бургера, когда он активен (в виде крестика) */
.burger.active .burger__span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .burger__span:nth-child(2) {
  opacity: 0;
}

.burger.active .burger__span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.popup {
  display: none; /* Скрыть поп-ап по умолчанию */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100; /* Установить высокий z-index, чтобы поп-ап был поверх остальных элементов */
}

.popup-content {
  text-align: center;
}

/* Адаптивный режим для мобильных устройств */
@media (max-width: 768px) { /* Изменить на нужный размер экрана */
  .nav {
    display: none; /* Скрыть навигацию на мобильных */
  }

  .header {
    margin-bottom: 0;
  }

  .header__logo {
    margin-left: 0px;
  }

  .burger {
    display: flex; /* Показывать бургер на мобильных */
  }

  .popup {
    width: 80%; /* Занимает 80% ширины экрана */
    max-width: 300px; /* Максимальная ширина */
  }
  .nav__ul {
    flex-direction: column;
    line-height: 4;
  }
}

@media (min-width: 769px) { /* Изменить на нужный размер экрана */
  .burger {
    display: none; /* Скрыть бургер на больших экранах */
  }

  .popup {
    display: none; /* Скрыть поп-ап на больших экранах */
  }

  
}