h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}
